# Data Cleaning for Census Tables

In [137]:
# Import required packages
import pandas as pd
from pandas.io.sql import get_schema

# import the SQLAlchemy libraries
from sqlalchemy import create_engine

### Connect with MySQL local database

In [138]:
# create the connection string to the MySQL database
# USERNAME and PASSWORD are my credentials 
engine = create_engine('mysql+pymysql://[Username]:[Password]@127.0.0.1:3306/[Database]')

# make the connection to the database
conn = engine

#### Start with restructuring Ages 2004 table

In [151]:
# Access 2004 Ages table to restructure table: 
Age_04 = pd.read_sql('SELECT * FROM 2004_Ages', conn)

In [152]:
Age_04.head()
# Note: Arabic characters cannot be read by Python and therefore appear as '?'

,Luaa,Qadaa,Tajamuu_sukkani,Mantiqa,neighborhood_name,neighborhood_code,Age_groups,JO,SYR,IRQ,PAL,EGY,Other,Total
0,???? ???????,???? ???????,????? ??? ????,??? ????,?? ???????,110410142004,0-04,438,0,6,15,10,6,475
1,???? ???????,???? ???????,????? ??? ????,??? ????,?? ???????,110410142004,05-09,539,1,2,12,11,3,568
2,???? ???????,???? ???????,????? ??? ????,??? ????,?? ???????,110410142004,10-14,635,0,4,11,2,4,656
3,???? ???????,???? ???????,????? ??? ????,??? ????,?? ???????,110410142004,15-19,751,3,11,6,0,7,778
4,???? ???????,???? ???????,????? ??? ????,??? ????,?? ???????,110410142004,20-24,612,1,8,11,4,24,660

In [153]:
# Subset readable columns
Age_04=Age_04.ix[:,5:]

In [134]:
# Adding an id column -- actually insignificant for this but useful line of code for the future
Age_04['id'] = range(1, len(Age_04) + 1)

In [155]:
# Pivot the table to just the Jordanian population to see what it would look like
Age_04_pivot = Age_04.pivot(index='neighborhood_code', columns='Age_groups', values='JO')
Age_04_pivot.head()

Age_groups,0-04,05-09,10-14,15-19,20-24,25-29,30-34,35-39,40-44,45-49,50-54,55-59,60-64,65+,unspecified
neighborhood_code,,,,,,,,,,,,,,,
110111110901,799.0,926.0,980.0,958.0,970.0,745.0,693.0,705.0,695.0,529.0,481.0,467.0,363.0,885.0,8.0
110111110902,4704.0,4849.0,4960.0,4630.0,4158.0,3347.0,3176.0,2881.0,2473.0,1794.0,1310.0,1337.0,1246.0,2293.0,33.0
110111110903,1084.0,1198.0,1297.0,1413.0,1372.0,1098.0,987.0,968.0,940.0,827.0,669.0,679.0,602.0,1295.0,7.0
110111110904,858.0,954.0,901.0,925.0,848.0,685.0,618.0,586.0,522.0,429.0,293.0,287.0,234.0,347.0,28.0
110111120601,4104.0,4132.0,4041.0,3586.0,3194.0,2525.0,2437.0,2174.0,1688.0,1087.0,781.0,768.0,644.0,1395.0,6.0

In [156]:
# Pivot for all population ethnicities
Age_04_pivot2 = Age_04.pivot('neighborhood_code','Age_groups')
Age_04_pivot2.head()

                       JO                                                  \
Age_groups           0-04   05-09   10-14   15-19   20-24   25-29   30-34
neighborhood_code
110111110901        799.0   926.0   980.0   958.0   970.0   745.0   693.0
110111110902       4704.0  4849.0  4960.0  4630.0  4158.0  3347.0  3176.0
110111110903       1084.0  1198.0  1297.0  1413.0  1372.0  1098.0   987.0
110111110904        858.0   954.0   901.0   925.0   848.0   685.0   618.0
110111120601       4104.0  4132.0  4041.0  3586.0  3194.0  2525.0  2437.0

                                              ...       Total                  \
Age_groups          35-39   40-44   45-49     ...       25-29   30-34   35-39
neighborhood_code                             ...
110111110901        705.0   695.0   529.0     ...      1078.0  1009.0   970.0
110111110902       2881.0  2473.0  1794.0     ...      3987.0  3796.0  3407.0
110111110903        968.0   940.0   827.0     ...      1665.0  1527.0  1375.0
110111110904        586.0   522.0   429.0     ...       818.0   725.0   670.0
110111120601       2174.0  1688.0  1087.0     ...      3225.0  3064.0  2642.0


Age_groups          40-44   45-49   50-54   55-59   60-64     65+ unspecified
neighborhood_code
110111110901        906.0   687.0   590.0   556.0   426.0   988.0        86.0
110111110902       2895.0  2072.0  1523.0  1527.0  1383.0  2503.0       101.0
110111110903       1251.0  1078.0   897.0   840.0   719.0  1470.0        83.0
110111110904        584.0   477.0   326.0   317.0   246.0   378.0       249.0
110111120601       1990.0  1256.0   893.0   858.0   698.0  1460.0         7.0

[5 rows x 105 columns]

In [157]:
# Subset just Jordanian population to see what it looks like
Age_04_pivot2.loc[: , "JO"]

Age_groups,0-04,05-09,10-14,15-19,20-24,25-29,30-34,35-39,40-44,45-49,50-54,55-59,60-64,65+,unspecified
neighborhood_code,,,,,,,,,,,,,,,
110111110901,799.0,926.0,980.0,958.0,970.0,745.0,693.0,705.0,695.0,529.0,481.0,467.0,363.0,885.0,8.0
110111110902,4704.0,4849.0,4960.0,4630.0,4158.0,3347.0,3176.0,2881.0,2473.0,1794.0,1310.0,1337.0,1246.0,2293.0,33.0
110111110903,1084.0,1198.0,1297.0,1413.0,1372.0,1098.0,987.0,968.0,940.0,827.0,669.0,679.0,602.0,1295.0,7.0
110111110904,858.0,954.0,901.0,925.0,848.0,685.0,618.0,586.0,522.0,429.0,293.0,287.0,234.0,347.0,28.0
110111120601,4104.0,4132.0,4041.0,3586.0,3194.0,2525.0,2437.0,2174.0,1688.0,1087.0,781.0,768.0,644.0,1395.0,6.0
110111120602,1788.0,1785.0,1646.0,1416.0,1412.0,1118.0,1015.0,855.0,563.0,436.0,309.0,268.0,235.0,410.0,12.0
110111120603,4721.0,4672.0,4224.0,3600.0,3419.0,2882.0,2657.0,2276.0,1583.0,1138.0,775.0,767.0,673.0,997.0,15.0
110111130101,343.0,367.0,399.0,355.0,306.0,264.0,262.0,230.0,192.0,124.0,93.0,101.0,95.0,174.0,1.0
110111130102,990.0,1044.0,976.0,813.0,749.0,651.0,619.0,557.0,466.0,256.0,178.0,171.0,178.0,306.0,2.0
110111130103,437.0,472.0,474.0,448.0,368.0,274.0,298.0,274.0,239.0,177.0,153.0,111.0,82.0,171.0,1.0
110111130104,109.0,98.0,95.0,75.0,65.0,56.0,81.0,54.0,32.0,29.0,21.0,28.0,17.0,28.0,1.0
110111130105,78.0,94.0,136.0,122.0,101.0,58.0,77.0,65.0,61.0,43.0,46.0,32.0,36.0,65.0,NaN
110111130107,275.0,344.0,308.0,285.0,279.0,231.0,196.0,181.0,167.0,112.0,76.0,75.0,76.0,141.0,NaN
110111130108,80.0,107.0,103.0,99.0,107.0,69.0,70.0,72.0,66.0,48.0,35.0,32.0,33.0,71.0,NaN
110111130109,146.0,157.0,195.0,174.0,177.0,139.0,129.0,126.0,99.0,87.0,64.0,66.0,73.0,116.0,NaN
110111140801,1371.0,1519.0,1536.0,1508.0,1440.0,1194.0,1104.0,1038.0,957.0,705.0,527.0,527.0,475.0,979.0,35.0
110111140802,895.0,974.0,1017.0,1101.0,1190.0,890.0,710.0,639.0,653.0,557.0,552.0,563.0,481.0,815.0,26.0
110111140803,429.0,487.0,592.0,648.0,597.0,387.0,379.0,371.0,471.0,434.0,344.0,303.0,287.0,734.0,2.0
110111140804,400.0,398.0,486.0,497.0,550.0,424.0,386.0,361.0,347.0,291.0,275.0,287.0,283.0,543.0,8.0
110111140805,378.0,408.0,396.0,361.0,358.0,254.0,222.0,200.0,199.0,158.0,126.0,126.0,90.0,138.0,1.0
110111150501,4176.0,4438.0,4021.0,3497.0,3259.0,2913.0,2869.0,2532.0,1954.0,1321.0,874.0,911.0,862.0,1678.0,13.0
110111150502,6857.0,6959.0,6266.0,5152.0,4880.0,4082.0,3878.0,3429.0,2401.0,1517.0,1039.0,993.0,1009.0,1974.0,12.0
110111150505,6149.0,6263.0,5883.0,5124.0,4605.0,3804.0,3624.0,3411.0,2664.0,1749.0,1210.0,1046.0,975.0,1976.0,5.0
110111160701,4874.0,4787.0,4324.0,3712.0,3539.0,2974.0,2717.0,2258.0,1605.0,1102.0,758.0,746.0,756.0,1093.0,13.0
110111160702,7739.0,7094.0,6466.0,5724.0,5474.0,4741.0,4473.0,3592.0,2425.0,1821.0,1295.0,1375.0,1236.0,1778.0,7.0
110111160703,181.0,194.0,160.0,160.0,152.0,95.0,89.0,100.0,63.0,55.0,34.0,36.0,29.0,43.0,NaN
110111160704,3304.0,3067.0,2801.0,2727.0,2530.0,2019.0,1863.0,1596.0,1148.0,893.0,658.0,621.0,485.0,582.0,10.0
110111160705,1264.0,1235.0,1254.0,1246.0,1073.0,866.0,726.0,608.0,538.0,437.0,299.0,274.0,213.0,244.0,2.0
110210131001,2424.0,2336.0,2370.0,2191.0,2104.0,1682.0,1433.0,1355.0,1100.0,858.0,641.0,596.0,456.0,562.0,1.0
110210131002,695.0,738.0,738.0,634.0,622.0,456.0,434.0,389.0,362.0,248.0,202.0,160.0,113.0,144.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110820180101,45.0,47.0,49.0,50.0,48.0,42.0,30.0,14.0,11.0,11.0,9.0,8.0,4.0,10.0,NaN
110910110101,2020.0,1758.0,1707.0,1561.0,1486.0,1293.0,1201.0,978.0,744.0,482.0,398.0,363.0,318.0,534.0,1.0
110910120101,233.0,204.0,192.0,163.0,149.0,109.0,115.0,75.0,47.0,37.0,23.0,23.0,12.0,30.0,1.0
110910130101,246.0,226.0,230.0,213.0,195.0,144.0,111.0,82.0,69.0,58.0,34.0,34.0,27.0,45.0,NaN
110910140101,197.0,219.0,189.0,161.0,151.0,119.0,96.0,66.0,55.0,29.0,17.0,24.0,22.0,37.0,NaN
110910150101,162.0,141.0,112.0,109.0,113.0,78.0,86.0,54.0,45.0,24.0,17.0,19.0,14.0,44.0,NaN
110910160101,225.0,177.0,171.0,159.0,168.0,165.0,118.0,82.0,52.0,46.0,31.0,35.0,29.0,40.0,NaN
110910170101,365.0,336.0,326.0,302.0,315.0,223.0,188.0,146.0,97.0,101.0,88.0,63.0,55.0,63.0,NaN
110910170102,371.0,423.0,456.0,430.0,374.0,276.0,192.0,189.0,163.0,130.0,101.0,87.0,60.0,89.0,NaN
110910180101,571.0,589.0,621.0,620.0,559.0,424.0,329.0,296.0,292.0,241.0,176.0,147.0,97.0,173.0,NaN
110910190101,68.0,87.0,74.0,87.0,75.0,63.0,38.0,30.0,22.0,37.0,21.0,11.0,11.0,17.0,NaN
110910200101,154.0,153.0,148.0,117.0,112.0,85.0,81.0,51.0,41.0,32.0,21.0,19.0,13.0,28.0,NaN
110910210101,99.0,93.0,105.0,92.0,89.0,69.0,56.0,49.0,37.0,31.0,13.0,7.0,14.0,27.0,NaN
110910220101,47.0,50.0,76.0,65.0,48.0,43.0,24.0,21.0,35.0,16.0,18.0,15.0,9.0,13.0,NaN
110910230101,113.0,143.0,137.0,139.0,91.0,67.0,67.0,47.0,50.0,40.0,21.0,21.0,11.0,27.0,1.0
110910240101,121.0,109.0,94.0,90.0,83.0,80.0,59.0,40.0,28.0,22.0,13.0,20.0,15.0,20.0,NaN
110910250101,39.0,42.0,28.0,14.0,16.0,24.0,29.0,23.0,17.0,4.0,2.0,9.0,9.0,11.0,NaN
110910260101,60.0,50.0,43.0,32.0,23.0,34.0,25.0,22.0,18.0,17.0,3.0,5.0,6.0,20.0,NaN
110920110101,629.0,587.0,570.0,509.0,463.0,391.0,361.0,281.0,174.0,108.0,104.0,83.0,73.0,137.0,1.0
110920120101,357.0,341.0,314.0,283.0,258.0,208.0,187.0,144.0,94.0,57.0,38.0,55.0,40.0,57.0,NaN
110920130101,101.0,85.0,62.0,64.0,65.0,62.0,60.0,38.0,17.0,14.0,13.0,26.0,19.0,16.0,NaN
110920140101,109.0,107.0,135.0,154.0,147.0,75.0,60.0,46.0,64.0,57.0,59.0,36.0,24.0,38.0,0.0
110920150101,138.0,147.0,149.0,173.0,140.0,85.0,70.0,72.0,57.0,44.0,37.0,32.0,19.0,22.0,NaN
110920160101,12.0,9.0,12.0,13.0,17.0,15.0,13.0,8.0,10.0,6.0,NaN,3.0,3.0,5.0,NaN
110930110101,335.0,310.0,300.0,264.0,256.0,212.0,188.0,173.0,111.0,77.0,43.0,57.0,30.0,90.0,NaN
110930120101,692.0,631.0,609.0,606.0,612.0,494.0,366.0,251.0,171.0,142.0,110.0,101.0,73.0,130.0,NaN
110930130101,436.0,385.0,353.0,328.0,292.0,243.0,209.0,172.0,115.0,99.0,38.0,53.0,34.0,75.0,NaN
110930140101,416.0,369.0,361.0,318.0,308.0,285.0,207.0,155.0,92.0,81.0,54.0,57.0,28.0,74.0,NaN
110930150101,170.0,163.0,183.0,150.0,115.0,108.0,73.0,72.0,56.0,33.0,24.0,17.0,17.0,30.0,0.0
110930160101,172.0,142.0,130.0,137.0,124.0,102.0,81.0,61.0,44.0,33.0,20.0,26.0,13.0,24.0,NaN

In [159]:
# Notice that neighborhood codes are saved as index columns
# Store neighborhood codes as a new column
Age_04_pivot2['index1'] = Age_04_pivot2.index
Age_04_pivot2.head()

                       JO                                                  \
Age_groups           0-04   05-09   10-14   15-19   20-24   25-29   30-34
neighborhood_code
110111110901        799.0   926.0   980.0   958.0   970.0   745.0   693.0
110111110902       4704.0  4849.0  4960.0  4630.0  4158.0  3347.0  3176.0
110111110903       1084.0  1198.0  1297.0  1413.0  1372.0  1098.0   987.0
110111110904        858.0   954.0   901.0   925.0   848.0   685.0   618.0
110111120601       4104.0  4132.0  4041.0  3586.0  3194.0  2525.0  2437.0

                                               ...        Total          \
Age_groups          35-39   40-44   45-49      ...        30-34   35-39
neighborhood_code                              ...
110111110901        705.0   695.0   529.0      ...       1009.0   970.0
110111110902       2881.0  2473.0  1794.0      ...       3796.0  3407.0
110111110903        968.0   940.0   827.0      ...       1527.0  1375.0
110111110904        586.0   522.0   429.0      ...        725.0   670.0
110111120601       2174.0  1688.0  1087.0      ...       3064.0  2642.0

                                                                               \
Age_groups          40-44   45-49   50-54   55-59   60-64     65+ unspecified
neighborhood_code
110111110901        906.0   687.0   590.0   556.0   426.0   988.0        86.0
110111110902       2895.0  2072.0  1523.0  1527.0  1383.0  2503.0       101.0
110111110903       1251.0  1078.0   897.0   840.0   719.0  1470.0        83.0
110111110904        584.0   477.0   326.0   317.0   246.0   378.0       249.0
110111120601       1990.0  1256.0   893.0   858.0   698.0  1460.0         7.0

                         index1
Age_groups
neighborhood_code
110111110901       110111110901
110111110902       110111110902
110111110903       110111110903
110111110904       110111110904
110111120601       110111120601

[5 rows x 106 columns]

In [160]:
# Save output table above to MySQL database 
Age_04_pivot2.to_sql(con=conn, name='Age_04_pivot2', if_exists='replace', index=False)

#### Now to resturcture 2015 ages table

In [178]:
# Read table and store it as Age_15
Age_15 = pd.read_sql('SELECT * FROM 2015_Ages', conn)

In [179]:
# View table
Age_15.head()

,Gov_code,District,Luaa_code,Luaa,Qadaa_code,Qadaa,Tajamuu_sukkani_code,Tajamuu_sukkani,Mantiqa_code,Mantiqa,...,Syr_female,IRQ_male,IRQ_female,PAL_male,PAL_female,EGY_male,EGY_female,Other_male,Other_female,Total
0,11,???????,1101,???? ????,11011,????,11011111,???????,1101111109,???????,...,188,17,10,83,84,106,59,98,94,1
1,11,???????,1101,???? ????,11011,????,11011111,???????,1101111109,???????,...,98,27,30,20,35,63,84,34,41,1
2,11,???????,1101,???? ????,11011,????,11011111,???????,1101111109,???????,...,165,18,25,50,35,93,48,41,57,1
3,11,???????,1101,???? ????,11011,????,11011111,???????,1101111109,???????,...,150,33,36,22,42,232,41,127,261,2
4,11,???????,1101,???? ????,11011,????,11011111,???????,1101111109,???????,...,140,34,45,50,63,454,55,243,373,2

In [180]:
# Subset relevant columns
Age_15=Age_15.ix[:,11:]
Age_15.head()

,neighborhood_code,Age_groups,Jo_male,Jo_female,Syr_male,Syr_female,IRQ_male,IRQ_female,PAL_male,PAL_female,EGY_male,EGY_female,Other_male,Other_female,Total
0,110111110901,0-4,325,290,166,188,17,10,83,84,106,59,98,94,1
1,110111110901,10-14,430,366,152,98,27,30,20,35,63,84,34,41,1
2,110111110901,15-19,447,387,109,165,18,25,50,35,93,48,41,57,1
3,110111110901,20-24,474,434,174,150,33,36,22,42,232,41,127,261,2
4,110111110901,25-29,387,387,117,140,34,45,50,63,454,55,243,373,2

In [182]:
Age_15_pivot = Age_15.pivot('neighborhood_code','Age_groups')
Age_15_pivot.head()

                  Jo_male                                                   \
Age_groups            0-4  10-14  15-19  20-24  25-29  30-34  35-39  40-44
neighborhood_code
110111110901        325.0  430.0  447.0  474.0  387.0  364.0  316.0  228.0
110111110902          1.0    2.0    2.0    2.0    1.0    1.0    1.0    1.0
110111110903        466.0  654.0  750.0  765.0  686.0  552.0  465.0  474.0
110111110904        548.0  637.0  752.0  701.0  543.0  409.0  367.0  329.0
110111120601          1.0    1.0    1.0    1.0  959.0  841.0  726.0  764.0

                                 ...   Total                                 \
Age_groups         45-49    5-9  ...   40-44 45-49  5-9 50-54  55-59  60-64
neighborhood_code                ...
110111110901       295.0  412.0  ...     1.0   1.0  1.0   1.0  959.0  625.0
110111110902         1.0    2.0  ...     5.0   4.0  9.0   4.0    3.0    2.0
110111110903       551.0  622.0  ...     2.0   2.0  2.0   2.0    1.0    1.0
110111110904       393.0  586.0  ...     1.0   1.0  2.0   1.0  948.0  628.0
110111120601       784.0    1.0  ...     2.0   2.0  5.0   1.0    1.0  676.0


Age_groups         65-69  70-74  74-79    80+
neighborhood_code
110111110901       577.0  404.0  222.0  290.0
110111110902         1.0    1.0  838.0  701.0
110111110903         1.0  915.0  682.0  701.0
110111110904       520.0  456.0  268.0  208.0
110111120601       607.0  503.0  280.0  234.0

[5 rows x 221 columns]

In [183]:
# Store neighborhood codes as a new column
Age_15_pivot['index1'] = Age_15_pivot.index
Age_15_pivot.head()

                  Jo_male                                                   \
Age_groups            0-4  10-14  15-19  20-24  25-29  30-34  35-39  40-44
neighborhood_code
110111110901        325.0  430.0  447.0  474.0  387.0  364.0  316.0  228.0
110111110902          1.0    2.0    2.0    2.0    1.0    1.0    1.0    1.0
110111110903        466.0  654.0  750.0  765.0  686.0  552.0  465.0  474.0
110111110904        548.0  637.0  752.0  701.0  543.0  409.0  367.0  329.0
110111120601          1.0    1.0    1.0    1.0  959.0  841.0  726.0  764.0

                                     ...      Total                           \
Age_groups         45-49    5-9      ...      45-49  5-9 50-54  55-59  60-64
neighborhood_code                    ...
110111110901       295.0  412.0      ...        1.0  1.0   1.0  959.0  625.0
110111110902         1.0    2.0      ...        4.0  9.0   4.0    3.0    2.0
110111110903       551.0  622.0      ...        2.0  2.0   2.0    1.0    1.0
110111110904       393.0  586.0      ...        1.0  2.0   1.0  948.0  628.0
110111120601       784.0    1.0      ...        2.0  5.0   1.0    1.0  676.0

                                                     index1
Age_groups         65-69  70-74  74-79    80+
neighborhood_code
110111110901       577.0  404.0  222.0  290.0  110111110901
110111110902         1.0    1.0  838.0  701.0  110111110902
110111110903         1.0  915.0  682.0  701.0  110111110903
110111110904       520.0  456.0  268.0  208.0  110111110904
110111120601       607.0  503.0  280.0  234.0  110111120601

[5 rows x 222 columns]

In [184]:
# Save output table above to MySQL database 
Age_15_pivot.to_sql(con=conn, name='Age_15_pivot', if_exists='replace', index=False)